## Data Gathering

### Features: Windguru Data

> Webscraping attempt 101

In [1]:
import selenium 
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service
import requests ## Establish website connection using the requests library
import pandas as pd
import numpy as np
import re ## RegEx for pattern matching

In [2]:
selenium.__version__

'4.18.1'

In [3]:
driver_1 = webdriver.Chrome()

In [4]:
driver_1.get('https://www.windguru.cz/archive.php?id_spot=49202&id_model=3&date_from=2023-05-21&date_to=2023-09-29')

In [5]:
title = driver_1.title
title

'Windguru'

In [6]:
driver_1.implicitly_wait(0.5)

In [7]:
def get_data(driver):
    ''' fuction to get data from the Windguru website and format it into a dataframe'''
    forecast_table = driver.find_element('css selector', value="table.forecast")

    # Parse the table data
    table_rows = forecast_table.find_elements('css selector', 'tr')

    # Extract column headers
    column_headers = ['date', 'ws_00', 'ws_03', 'ws_06', 'ws_09', 'ws_12', 'ws_15', 'ws_18', 'ws_21', 
                  '0', '3', '6', '9', '12', '15', '18', '21',
                  'wg_00', 'wg_03', 'wg_06', 'wg_09', 'wg_12', 'wg_15', 'wg_18', 'wg_21',
                  't_00', 't_03', 't_06', 't_09', 't_12', 't_15', 't_18', 't_21', 
                  'r_00', 'r_03', 'r_06', 'r_09', 'r_12', 'r_15', 'r_18', 'r_21',
                  'cc_00', 'cc_03', 'cc_06', 'cc_09', 'cc_12', 'cc_15', 'cc_18', 'cc_21',
                  'wd_00', 'wd_03', 'wd_06', 'wd_09', 'wd_12', 'wd_15', 'wd_18', 'wd_21']
    # Initialize empty lists to store data
    data_rows = []
    for row in table_rows[2:]:
        # Extracting the first vector of rotation for the instances of arrows
        arrow_cell = row.find_elements('css selector', 'svg.arrow g')
        arrow_angles = [g.get_attribute("transform") for g in arrow_cell]
        rotation = [re.findall(r'rotate\((\d+),', g)[0] for g in arrow_angles] 
        # Extracting other cell values
        other_cells = [td.text for td in row.find_elements('css selector', 'td')]
        # Combining arrow rotation value with other cell values
        data_row = other_cells + rotation
        data_rows.append(data_row)
    

    # Create DataFrame
    df = pd.DataFrame(data_rows, columns=column_headers)
    return df

In [8]:
df_1 = get_data(driver_1)
df_1.head()

,date,ws_00,ws_03,ws_06,ws_09,ws_12,ws_15,ws_18,ws_21,0,...,cc_18,cc_21,wd_00,wd_03,wd_06,wd_09,wd_12,wd_15,wd_18,wd_21
0,21.05.2023,5,7,8,6,6,5,5,2,,...,100,70,237,231,270,280,279,405,210,279
1,22.05.2023,7,3,3,2,2,2,6,3,,...,100,89,292,290,243,274,445,439,298,391
2,23.05.2023,5,3,2,1,3,7,7,3,,...,8,100,489,287,267,266,384,443,447,466
3,24.05.2023,1,2,2,2,3,7,7,2,,...,,,326,276,310,416,427,460,475,188
4,25.05.2023,2,2,2,2,3,6,4,4,,...,,72,535,223,277,261,418,459,513,237

In [69]:
driver_1.quit()

> Success! Now to get more dates...

In [10]:
driver_2 = webdriver.Chrome()
driver_2.get('https://www.windguru.cz/archive.php?id_spot=49202&id_model=3&date_from=2022-05-22&date_to=2022-10-01')

driver_2.implicitly_wait(0.5)

In [11]:
df_2 = get_data(driver_2)
df_2.head()

,date,ws_00,ws_03,ws_06,ws_09,ws_12,ws_15,ws_18,ws_21,0,...,cc_18,cc_21,wd_00,wd_03,wd_06,wd_09,wd_12,wd_15,wd_18,wd_21
0,22.05.2022,6,5,3,3,7,9,9,6,,...,,6,492,498,508,462,434,457,468,482
1,23.05.2022,4,3,2,3,4,8,7,4,,...,100,9,479,514,199,341,406,449,458,466
2,24.05.2022,3,3,3,4,6,6,6,4,,...,,,448,201,246,311,356,417,437,458
3,25.05.2022,2,2,1,1,3,6,7,3,,...,,,522,239,508,398,443,465,529,None
4,26.05.2022,2,3,2,1,4,8,7,6,,...,100,11,198,483,277,338,416,470,489,507

In [70]:
driver_2.quit()

In [13]:
driver_3 = webdriver.Chrome()
driver_3.get('https://www.windguru.cz/archive.php?id_spot=49202&id_model=3&date_from=2021-05-30&date_to=2021-10-02')

driver_3.implicitly_wait(0.5)

In [14]:
df_3 = get_data(driver_3)
df_3.head()

,date,ws_00,ws_03,ws_06,ws_09,ws_12,ws_15,ws_18,ws_21,0,...,cc_18,cc_21,wd_00,wd_03,wd_06,wd_09,wd_12,wd_15,wd_18,wd_21
0,30.05.2021,7,4,4,4,8,10,10,6,,...,14,100,498,511,498,471,456,466,477,467
1,31.05.2021,3,10,10,9,14,16,15,15,,...,100,100,497,497,502,495,486,486,490,493
2,01.06.2021,12,11,10,7,13,18,19,15,,...,,,486,495,499,509,494,486,479,481
3,02.06.2021,10,9,7,1,4,6,8,9,,...,100,,498,498,501,405,457,491,500,None
4,03.06.2021,6,5,6,4,5,9,10,7,,...,7,8,510,517,500,487,439,471,487,497

In [71]:
driver_3.quit()

In [109]:
driver_4 = webdriver.Chrome()
driver_4.get('https://www.windguru.cz/archive.php?id_spot=49202&id_model=3&date_from=2020-06-22&date_to=2020-10-03')

driver_4.implicitly_wait(0.5)

In [17]:
df_4 = get_data(driver_4)
df_4.head()

,date,ws_00,ws_03,ws_06,ws_09,ws_12,ws_15,ws_18,ws_21,0,...,cc_18,cc_21,wd_00,wd_03,wd_06,wd_09,wd_12,wd_15,wd_18,wd_21
0,22.06.2020,12,10,9,2,5,8,8,5,,...,100,100,128,130,127,179,132,105,113,109
1,23.06.2020,3,4,2,2,6,7,8,8,,...,,58,198,136,139,17,39,70,94,119
2,24.06.2020,5,4,2,4,5,7,6,4,,...,,,110,120,293,342,38,73,110,152
3,25.06.2020,1,3,3,1,3,7,7,6,,...,,,185,132,212,152,91,109,124,150
4,26.06.2020,7,5,5,4,5,9,10,8,,...,,,143,160,160,165,142,122,135,146

In [68]:
driver_4.quit()

In [110]:
driver_4.get('https://www.windguru.cz/archive.php?id_spot=49202&id_model=3&date_from=2019-05-25&date_to=2019-09-25')

In [111]:
df_5 = get_data(driver_4)
df_5.head()

,date,ws_00,ws_03,ws_06,ws_09,ws_12,ws_15,ws_18,ws_21,0,...,cc_18,cc_21,wd_00,wd_03,wd_06,wd_09,wd_12,wd_15,wd_18,wd_21
0,25.05.2019,7,3,0,2,3,7,7,5,,...,14,29,459,458,308,413,446,458,484,None
1,26.05.2019,3,5,5,5,4,5,3,7,,...,45,65,514,215,254,284,316,369,324,333
2,27.05.2019,8,8,11,9,6,6,9,7,,...,44,52,310,305,282,267,278,316,366,406
3,28.05.2019,3,4,6,6,7,8,8,6,,...,,,416,312,311,334,392,418,426,413
4,29.05.2019,5,6,6,6,6,6,6,5,,...,,,384,362,344,341,360,393,416,409

In [112]:
driver_4.get('https://www.windguru.cz/archive.php?id_spot=49202&id_model=3&date_from=2018-05-27&date_to=2018-09-28')

In [113]:
df_6 = get_data(driver_4)
df_6.head()

,date,ws_00,ws_03,ws_06,ws_09,ws_12,ws_15,ws_18,ws_21,0,...,cc_18,cc_21,wd_00,wd_03,wd_06,wd_09,wd_12,wd_15,wd_18,wd_21
0,27.05.2018,3,3,4,5,1,6,7,6,,...,,,533,182,260,279,340,457,482,502
1,28.05.2018,3,1,2,3,2,7,7,5,,...,92,89,523,277,282,375,461,485,497,None
2,29.05.2018,3,2,4,5,3,6,6,4,,...,,8,510,235,275,277,315,425,467,490
3,30.05.2018,2,3,3,4,1,7,9,6,,...,31,75,532,291,297,278,322,455,472,495
4,31.05.2018,5,2,2,2,3,8,9,6,,...,61,91,496,182,249,192,475,465,473,479

In [114]:
driver_4.get('https://www.windguru.cz/archive.php?id_spot=49202&id_model=3&date_from=2017-06-02&date_to=2017-09-27')

In [115]:
df_7 = get_data(driver_4)
df_7.head()

,date,ws_00,ws_03,ws_06,ws_09,ws_12,ws_15,ws_18,ws_21,0,...,cc_18,cc_21,wd_00,wd_03,wd_06,wd_09,wd_12,wd_15,wd_18,wd_21
0,02.06.2017,5,3,3,3,5,8,8,5,,...,36,40,480,500,508,513,477,468,473,478
1,03.06.2017,3,3,3,1,2,6,7,4,,...,,,492,470,494,457,444,455,476,None
2,04.06.2017,4,4,3,3,5,9,9,6,,...,,,499,538,187,539,484,476,479,482
3,05.06.2017,5,3,2,1,3,7,6,4,,...,,,498,187,207,423,450,471,490,None
4,06.06.2017,2,1,2,2,1,6,7,5,,...,70,18,482,323,347,371,443,478,491,None

In [116]:
driver_4.quit()

> Originally, I was blocked before accessing the last three dataframes. A backup plan involved AListair stealing the data for me and me reformatting the .csv using the following code.
> Dates required were
* 2019: 2019/05/25 - 2019/09/25
* 2018: 2018/05/27 - 2018/09/28
* 2017: 2017/06/02 - 2017/09/27
```
# Read the CSV file
df = pd.read_csv("vass_3h.csv")

# Parse datetime column
df['datetime'] = pd.to_datetime(df['datetime'])

# Extract date from datetime column
df['date'] = df['datetime'].dt.date

# Create separate columns for each time interval
time_intervals = ['00', '03', '06', '09', '12', '15', '18', '21']
for interval in time_intervals:
    # Extract hour from datetime and filter rows for each time interval
    df_interval = df[df['datetime'].dt.hour == int(interval)]
    # Rename columns with the time interval
    df_interval = df_interval.rename(columns={'ws': f'ws_{interval}',
                                              'wg': f'wg_{interval}',
                                              't': f't_{interval}',
                                              'r': f'r_{interval}',
                                              'cc': f'cc_{interval}',
                                              'wd': f'wd_{interval}'})
    # Merge with the main DataFrame on date
    df = pd.merge(df, df_interval[['date', f'ws_{interval}', 
                                   f'wg_{interval}', 
                                   f't_{interval}', 
                                   f'r_{interval}', 
                                   f'cc_{interval}',
                                   f'wd_{interval}']],
                  on='date', how='left')

# Drop the original datetime column
df = df.drop(columns=['datetime'])

# Drop duplicate columns (if any)
df = df.loc[:, ~df.columns.duplicated()]

# Drop duplicate rows (if any)
df = df.drop_duplicates()

# Optionally, reorder the columns
column_order =  ['date', 'ws_00', 'ws_03', 'ws_06', 'ws_09', 'ws_12', 'ws_15', 'ws_18', 'ws_21', 
                  'wg_00', 'wg_03', 'wg_06', 'wg_09', 'wg_12', 'wg_15', 'wg_18', 'wg_21',
                  't_00', 't_03', 't_06', 't_09', 't_12', 't_15', 't_18', 't_21', 
                  'r_00', 'r_03', 'r_06', 'r_09', 'r_12', 'r_15', 'r_18', 'r_21',
                  'cc_00', 'cc_03', 'cc_06', 'cc_09', 'cc_12', 'cc_15', 'cc_18', 'cc_21',
                  'wd_00', 'wd_03', 'wd_06', 'wd_09', 'wd_12', 'wd_15', 'wd_18', 'wd_21']
df = df[column_order]

# Save the modified DataFrame to a new CSV file
df.to_csv("reformatted_data.csv", index=False)
```

> Data collected, time to combine.

In [117]:
combined_df = pd.concat([df_1, df_2, df_3, df_4, df_5, df_6, df_7], ignore_index=True)
combined_df

,date,ws_00,ws_03,ws_06,ws_09,ws_12,ws_15,ws_18,ws_21,0,...,cc_18,cc_21,wd_00,wd_03,wd_06,wd_09,wd_12,wd_15,wd_18,wd_21
0,21.05.2023,5,7,8,6,6,5,5,2,,...,100,70,237,231,270,280,279,405,210,279
1,22.05.2023,7,3,3,2,2,2,6,3,,...,100,89,292,290,243,274,445,439,298,391
2,23.05.2023,5,3,2,1,3,7,7,3,,...,8,100,489,287,267,266,384,443,447,466
3,24.05.2023,1,2,2,2,3,7,7,2,,...,,,326,276,310,416,427,460,475,188
4,25.05.2023,2,2,2,2,3,6,4,4,,...,,72,535,223,277,261,418,459,513,237
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
855,23.09.2017,15,12,11,8,7,8,9,8,,...,,,505,510,517,528,509,489,482,496
856,24.09.2017,5,2,3,3,2,5,4,2,,...,88,30,509,180,248,280,324,406,446,446
857,25.09.2017,1,7,9,9,10,10,8,3,,...,,9,300,314,314,329,368,414,485,None
858,26.09.2017,1,1,3,3,0,6,8,7,,...,,,227,234,464,478,493,None,None,None
859,27.09.2017,5,2,2,3,3,4,6,4,,...,61,63,501,510,211,272,326,427,464,504

> Drop empty arrow columns.

In [13]:
# cols_to_drop = ['0', '3', '6', '9', '12', '15', '18', '21']

In [121]:
combined_df.to_csv('windguru.csv', index=False)

### Target: Club Vass Data

In [2]:
df_cv = pd.read_csv('CV.csv')
df_cv

,date,planing,sail,conditions,wind_number,wind
0,2023/09/29,4,5.3,Flat and windy,3,4
1,2023/09/28,0,5,Gentle east winds,1,2
2,2023/09/27,1,7.5,Winging weather,2,3
3,2023/09/26,0,5,It was a bit wet,1,2
4,2023/09/25,5,4.5,Banging Crossshore,4,5
...,...,...,...,...,...,...
855,2017/06/06,5,4.7-7.0,Amazing first day of tuition,4,5
856,2017/06/05,0,NaN,Light wind freestyle,2,1
857,2017/06/04,3,6.0-8.6,A nice afternoon,4,1
858,2017/06/03,4,4.2 - 6.5,Epic evening session,4,5
859,2017/06/02,6,3.7-6.0,Mega day in Vass,5,6

### Combining Features and Target

> We need to fix the date formatting to join on date column.

In [4]:
combined_df = pd.read_csv('windguru.csv')

In [5]:
combined_df['date'] = pd.to_datetime(combined_df['date'], format='%d.%m.%Y')

In [6]:
combined_df.dtypes

date     datetime64[ns]
ws_00            object
ws_03            object
ws_06            object
ws_09            object
ws_12            object
ws_15            object
ws_18            object
ws_21            object
wg_00            object
wg_03            object
wg_06            object
wg_09            object
wg_12            object
wg_15            object
wg_18            object
wg_21            object
t_00             object
t_03             object
t_06             object
t_09             object
t_12             object
t_15             object
t_18             object
t_21             object
r_00             object
r_03             object
r_06             object
r_09             object
r_12             object
r_15             object
r_18             object
r_21             object
cc_00            object
cc_03            object
cc_06            object
cc_09            object
cc_12            object
cc_15            object
cc_18            object
cc_21            object
wd_00           float64
wd_03           float64
wd_06           float64
wd_09           float64
wd_12           float64
wd_15           float64
wd_18           float64
wd_21           float64
dtype: object

In [9]:
df_cv['date'] = pd.to_datetime(df_cv['date'], format='%Y/%m/%d')

In [10]:
df_cv.dtypes

date           datetime64[ns]
planing                 int64
sail                   object
conditions             object
wind_number             int64
wind                    int64
dtype: object

> Sorted, let's merge!

In [11]:
merged_df = pd.merge(combined_df, df_cv, on='date', how='inner')
merged_df

,date,ws_00,ws_03,ws_06,ws_09,ws_12,ws_15,ws_18,ws_21,wg_00,...,wd_09,wd_12,wd_15,wd_18,wd_21,planing,sail,conditions,wind_number,wind
0,2023-05-21,5,7,8,6,6,5,5,2,18,...,280.0,279.0,405.0,210.0,279.0,0,4.5,Light wind day,2,1
1,2023-05-22,7,3,3,2,2,2,6,3,20,...,274.0,445.0,439.0,298.0,391.0,0,4.5,Longboard freestyle,2,1
2,2023-05-23,5,3,2,1,3,7,7,3,8,...,266.0,384.0,443.0,447.0,466.0,4,4.4,Classic Vass,4,5
3,2023-05-24,1,2,2,2,3,7,7,2,4,...,416.0,427.0,460.0,475.0,188.0,4,5.7,Good Freeride,3,4
4,2023-05-25,2,2,2,2,3,6,4,4,3,...,261.0,418.0,459.0,513.0,237.0,1,6.5,A little blow,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
853,2017-09-23,15,12,11,8,7,8,9,8,19,...,528.0,509.0,489.0,482.0,496.0,5,3.3-4.7,BOOM!,6,7
854,2017-09-24,5,2,3,3,2,5,4,2,6,...,280.0,324.0,406.0,446.0,446.0,4,4.7-5.0,Epic free ride day,4,5
855,2017-09-25,1,7,9,9,10,10,8,3,2,...,329.0,368.0,414.0,485.0,NaN,2,5.7 - 8.6,Bit gusty,3,1
856,2017-09-26,1,1,3,3,0,6,8,7,2,...,478.0,493.0,NaN,NaN,NaN,0,5.0-8.6,Light wind freestyle,2,1
857,2017-09-27,5,2,2,3,3,4,6,4,5,...,272.0,326.0,427.0,464.0,504.0,8,3.7-6.0,Conditions are cooking,5,6

In [12]:
merged_df.to_csv('capstone.csv', index=False)